{% include base_path %}
{% assign publications = site.publications | sort: 'date' | reverse %}
{% assign collapsed_papers = false %}
{% assign earlier_papers = '/publications/cylindrical-assembly/|/publications/countersunk-assembly/|/publications/debris-sensor/' | split: '|' %}
{% comment %}Temporarily hide the four papers listed after the arXiv paper in "more".{% endcomment %}
{% assign hidden_papers = '/publications/cylindrical-assembly/|/publications/countersunk-assembly/|/publications/debris-sensor/|/publications/shaft-pose-sensors/' | split: '|' %}
{% for publication in publications %}
  {% assign post = publication %}
  {% if post.permalink == '/publications/deformsmith/' %}{% continue %}{% endif %}
  {% if hidden_papers contains post.permalink %}{% continue %}{% endif %}
  {% if earlier_papers contains post.permalink %}{% continue %}{% endif %}
  {% if post.permalink == '/publications/shaft-pose-sensors/' %}
    {% assign current_post = post %}
    {% for paper_permalink in earlier_papers %}
      {% assign post = publications | where: 'permalink', paper_permalink | first %}
      {% if post %}{% include archive-single.html %}{% endif %}
    {% endfor %}
    {% assign post = current_post %}
  {% endif %}
  {% include archive-single.html %}
  {% if post.permalink == '/publications/deformmaster/' %}
    {% assign current_post = post %}
    {% assign post = publications | where: 'permalink', '/publications/deformsmith/' | first %}
    {% if post %}{% include archive-single.html %}{% endif %}
    {% assign post = current_post %}
  {% endif %}
  {% if include.collapse and post.permalink == '/publications/raco-slam/' and forloop.last == false %}
    {% assign collapsed_papers = true %}
<details class="publications-more">
<summary>more</summary>
  {% endif %}
{% endfor %}
{% if collapsed_papers %}</details>{% endif %}
